<!-- app/views/admin_sessions/new.html.erb -->
<h1>Admin Login</h1>
<%= form_with url: admin_login_path, method: :post do %>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div>
    <%= submit_tag 'Log in' %>
  </div>
<% end %>
